<ion-header>
  <ion-toolbar>
    <ion-title>
      AppStoreX
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="top-head">
    <h1>AppStoreX</h1>
    <h2>Select Apps from Crypto</h2>
    </div>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Phone number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Code"></ion-input>
        <ion-button color="primary">Get Code</ion-button>
      </ion-item>
  </ion-list>

  <div padding>
    <br><br>
    <ion-button shape="square" color="primary" fill="solid" expand="block">Verify</ion-button>
  </div>


</ion-content>
